<img
  src="/images/ava1.jpg"
  alt="Foto Saya"
  style="width: 150px; height: auto"
/>
<h1>Miralisa Christy Rachmanto</h1>
<p>
  Saya adalah salah satu peserta bootcamp di WGS. Setiap hari senin sampai jumat
  kami menerima materi demi materi untuk membangun web menggunakan node.js dan
  react.js.
</p>
